anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
ipywidgets
jedi
jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
overrides
packaging
pandocfilters
parso
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pygments
python-dateutil
python-json-logger
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
